.slick-dots li.slick-active button:before{
    color: #ff896b !important;
    font-size: 10px;
}
.slick-dots{
    bottom: -50px;
}
.slick_house_image {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.first_house_1{background-image: url("../images/drive/first-house1.jpg");}
.first_house_2{background-image: url("../images/drive/first_house2.jpg");}
.first_house_3{background-image: url("../images/drive/first_house3.jpg");}
.first_house_4{background-image: url("../images/drive/first_house4.jpg");}
.first_house_5{background-image: url("../images/drive/first_house5.jpg");}

.second_house_1{background-image: url("../images/drive/first_house5.jpg");}
.second_house_2{background-image: url("../images/drive/first_house5.jpg");}
.second_house_3{background-image: url("../images/drive/first_house5.jpg");}
.second_house_4{background-image: url("/images/drive/second_house4.jpg");}
.second_house_5 {background-image: url("../images/drive/first_house5.jpg");}
.third_house_1{background-image: url("/images/drive/third_house1.jpg");}
.third_house_2{background-image: url("/images/drive/third_house2.jpg");}
.third_house_3{background-image: url("/images/drive/third_house3.jpg");}
.third_house_4{background-image: url("/images/drive/third_house4.jpg");}
.third_house_5 {background-image: url("/images/drive/third_house5.jpg");}

.fourth_house_1{background-image: url("/images/drive/fourth_house1.jpg");}
.fourth_house_2{background-image: url("/images/drive/fourth_house2.jpg");}
.fourth_house_3{background-image: url("/images/drive/fourth_house3.jpg");}
.fourth_house_4{background-image: url("/images/drive/fourth_house4.jpg");}
.fourth_house_5 {background-image: url("/images/drive/fourth_house5.jpg");}
/* Второй 4X */

.five_house_1{background-image: url("/images/drive/five_house1.jpg");}
.five_house_2{background-image: url("/images/drive/five_house2.jpg");}
.five_house_3{background-image: url("/images/drive/five_house4.jpg");}
.five_house_4{background-image: url("/images/drive/five_house3.jpg");}
.five_house_5{background-image: url("/images/drive/five_house5.jpg");}

.six_house_1{background-image: url("/images/drive/six_house1.jpg");}
.six_house_2{background-image: url("/images/drive/six_house2.jpg");}
.six_house_3{background-image: url("/images/drive/six_house3.jpg");}
.six_house_4{background-image: url("/images/drive/six_house4.jpg");}
.six_house_5 {background-image: url("/images/drive/six_house5.jpg");}

.seven_house_1{background-image: url("/images/drive/seven_house1.jpg");}
.seven_house_2{background-image: url("/images/drive/seven_house2.jpg");}
.seven_house_3{background-image: url("/images/drive/seven_house3.jpg");}
.seven_house_4{background-image: url("/images/drive/seven_house4.jpg");}
.seven_house_5 {background-image: url("/images/drive/seven_house5.jpg");}

.eight_house_1{background-image: url("/images/drive/eight_house1.jpg");}
.eight_house_2{background-image: url("/images/drive/eight_house2.jpg");}
.eight_house_3{background-image: url("/images/drive/eight_house3.jpg");}
.eight_house_4{background-image: url("/images/drive/eight_house4.jpg");}
.eight_house_5 {background-image: url("/images/drive/eight_house5.jpg");}

/* Третий 4X */
.nine_house_1{background-image: url("/images/drive/nine_house1.jpg");}
.nine_house_2{background-image: url("/images/drive/nine_house2.jpg");}
.nine_house_3{background-image: url("/images/drive/nine_house3.jpg");}
.nine_house_4{background-image: url("/images/drive/nine_house4.jpg");}
.nine_house_5{background-image: url("/images/drive/nine_house5.jpg");}

.ten_house_1{background-image: url("/images/drive/ten_house1.jpg");}
.ten_house_2{background-image: url("/images/drive/ten_house2.jpg");}
.ten_house_3{background-image: url("/images/drive/ten_house3.jpg");}
.ten_house_4{background-image: url("/images/drive/ten_house4.jpg");}
.ten_house_5{background-image: url("/images/drive/ten_house5.jpg");}

.eleven_house_1{background-image: url("/images/drive/eleven_house1.jpg");}
.eleven_house_2{background-image: url("/images/drive/eleven_house2.jpg");}
.eleven_house_3{background-image: url("/images/drive/eleven_house3.jpg");}
.eleven_house_4{background-image: url("/images/drive/eleven_house4.jpg");}
.eleven_house_5{background-image: url("/images/drive/eleven_house5.jpg");}

.twelve_house_1{background-image: url("/images/drive/twelve_house1.jpg");}
.twelve_house_2{background-image: url("/images/drive/twelve_house2.jpg");}
.twelve_house_3{background-image: url("/images/drive/twelve_house3.jpg");}
.twelve_house_4{background-image: url("/images/drive/twelve_house4.jpg");}
.twelve_house_5{background-image: url("/images/drive/twelve_house5.jpg");}
/* 1x */
.thirteen_house_1{background-image: url("/images/drive/thirteen_house1.jpg");}
.thirteen_house_2{background-image: url("/images/drive/thirteen_house2.jpg");}
.thirteen_house_3{background-image: url("/images/drive/thirteen_house3.jpg");}
.thirteen_house_4{background-image: url("/images/drive/thirteen_house4.jpg");}
.thirteen_house_5{background-image: url("/images/drive/thirteen_house5.jpg");}
/* Kitchen */
.kitchen_house_1{background-image: url("/images/drive/kitchen_house1.jpg");}
.kitchen_house_2{background-image: url("/images/drive/kitchen_house2.jpg");}
.kitchen_house_3{background-image: url("/images/drive/kitchen_house3.jpg");}
.kitchen_house_4{background-image: url("/images/drive/kitchen_house4.jpg");}
.kitchen_house_5{background-image: url("/images/drive/kitchen_house5.jpg");}
.kitchen_house_6{background-image: url("/images/drive/kitchen_house6.jpg");}
.kitchen_house_7{background-image: url("/images/drive/kitchen_house7.jpg");}


@media (max-width: 767px) {
    .slick_house_image{
        height: 500px;
    }
    .slick-dots{
        bottom: -30px;
    }
}